<section class="footer-subscribe">
    <div class="container-2">
      <div class="footer-wrapper-three">
        <div class="footer-block-three">
          <a href="/" class="footer-link-three">Home</a>
          <a href="/resources" class="footer-link-three">Resources</a>
          <a href="/contribute" class="footer-link-three">Contribute</a>
          <a href="/contact" class="footer-link-three">Contact</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-copyright">© 2025 Manx Forge</div>
      </div>
    </div>
  </section>
  