<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/Manx Forge Logo - 3.png" alt="Manx Forge Logo">
            </a>
        </div>

        <!-- Hamburger Menu -->
        <div class="menu-toggle" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#">Resources</a>
                <ul class="dropdown-menu">
                    <li><a href="/speech-transcription-data/loayr/">Speech Transcription Data</a></li>
                    <li><a href="/automatic_transcriptions">Automatic Transcriptions</a></li>
                    <li><a href="/dictionaries">Dictionaries</a></li>
                </ul>
            </li>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <!-- Tagline Bar -->
    <div class="tagline-bar">
        <p>A Collection of Tools to Help Shape the Digital Future of the Manx Language</p>
    </div>
</header>

<script>
  function toggleMenu() {
      const nav = document.querySelector('.nav-links');
      nav.classList.toggle('active');
  }
</script>
