<header>
    <div class="container">
        <h1>The Manx Forge</h1>
        <p>A Collection of Tools to Help Shape the Digital Future of the Manx Language</p>
    </div>
</header>

<nav>
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li class="dropdown">
            <a href="#">Resources</a>
            <ul class="dropdown-content">
                <li><a href="/speech-transcription-eval">Speech Transcription Evaluation</a></li>
                <li><a href="/translation-data">Translation Data</a></li>
                <li><a href="/text-resources">Text Resources</a></li>
                <li><a href="/audio-resources">Audio Resources</a></li>
                <li><a href="/dictionaries.html">Dictionaries</a></li>
            </ul>
        </li>
        <li><a href="#purpose">Purpose</a></li>
    </ul>
</nav>
