<div class="navbar w-nav">
    <div class="container-3 w-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/" class="nav-link-3 w-nav-link">Home</a>
        <a href="/resources" class="nav-link-5 w-nav-link">Resources</a>
        <a href="/contribute" class="nav-link-6 w-nav-link">Contribute</a>
        <a href="/contact" class="nav-link-7 w-nav-link">Contact</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <img src="/assets/images/1.png" loading="lazy" width="200" alt="Manx Forge" class="image-9">
    </div>
  </div>
  